{#
/**
* @file
* Default theme implementation for a 'form' element.
*
* Available variables:
* - attributes: A list of HTML attributes for the wrapper element.
* - children: The child elements of the form.
*
* @see template_preprocess_form()
*/
#}
<div class="search-form md:mt-6 lg:mt-0">
    <form{{ attributes }}>
	<div class="md:flex">
	    {{ element.keys }}
	    {{ element.actions }}
	</div>
    </form>
</div>
